.App {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.Form {
  background-color: #fff;
  width: 30%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: .5rem;
}

.Form > input {
  width: 70%;
  height: 75%;
  border: 1px solid #000;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
 
.Form > button {
  width: 20%;
  height: 75%;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: .5rem;
  border: none;
  color: #fff;
  background-color: #125ac8;
  cursor: pointer;
}

.List {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.List > li {
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 7%;
  border: none;
  border-radius: .5rem;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.List > li:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.List > li > div {
  word-break: break-all;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  display: flex;
  gap: .7rem;
  justify-content: start;
  align-items: center;
}

.icon {
  cursor: pointer;
  height: 100%;
  width: 10%;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.trashIcon {
  background-color: #E74C3C;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.trashIcon:hover {
  background-color: #B93B2D;
}

.doneIcon {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  background-color: #27AE60;
}

.doneIcon:hover {
  background-color: #1F8B4C;
}

.done {
  text-decoration: line-through;
}

@media screen and (min-width: 1279px) and (min-height: 500px) {
  .Form {
    width: 30%;
    height: 4rem;
  }

  .List {
    width: 30%;
  }

  .List > li {
    height: 3rem;
  }
}

@media screen and (max-width: 1278px) and (min-height: 500px) {
  .Form {
    width: 70%;
    height: 4rem;
  }

  .List {
    width: 70%;
  }

  .List > li {
    height: 3rem;
  }
}

@media screen and (max-width: 769px) and (min-height: 500px) {
  .Form {
    width: 95%;
    height: 4rem;
  }

  .List {
    width: 95%;
  }

  .List > li {
    height: 3rem;
  }
}

@media screen and (max-width: 320px) and (min-height: 500px) {
  .App {
    padding: 0;
  }

  .Form {
    width: 100%;
    height: 4rem;
  }

  .List {
    width: 95%;
  }

  .List > li {
    height: 3rem;
  }
}